body{

    background:#2c9fd1;

}

.clicked {
    background:#f8d14c;
}


#central-area{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
    row-gap: 30px;
    column-gap:40px;
}

.card{
    margin: 20px;
    position:relative;
    border-radius: 10px; 
    text-align: center;
}

.logo, .card-content {
    max-width: 90%;
    max-height: 90%;
}


.theme-button{
    margin:20px;
    width:30vw;
    height:60vh;
    align-self: center;
    margin-top:10px;
    color: #2c9fd1;
    background-color:white;
    border:none;
    border-radius:7%;

}






/* AAAAAAAAAAAAAAAAAAAAAAAAAAAa */

